<%= form_for(@unidad) do |f| %>
  <% if @unidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unidad.errors.count, "error") %> prohibited this unidad from being saved:</h2>

      <ul>
      <% @unidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comunidad_id %><br>
    <%= f.collection_select :comunidad_id, @comunidad, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :sector_id %><br>
    <%= f.collection_select :sector_id, @sector, :id, :nombre %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :mt2 %><br>
    <%= f.number_field :mt2 %>
  </div>
  <div class="field">
    <%= f.label :busy %><br>
    <%= f.check_box :busy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
