<h1>Unidades</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Mt2</th>
      <th>Ocupado</th>
      <th>Sector</th>
      <th>Comunidad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unidades.each do |unidad| %>
      <tr>
        <td><%= unidad.numero %></td>
        <td><%= unidad.mt2 %></td>
        <td><%= unidad.busy %></td>
        <td><%= unidad.sector.nombre %></td>
        <td><%= unidad.comunidad.nombre%></td>
        <td><%= link_to 'Ver', unidad %></td>
        <td><%= link_to 'Editar', edit_unidad_path(unidad) %></td>
        <td><%= link_to 'Eliminar', unidad, method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Unidad', new_unidad_path %>
