<h1>Listing unidades</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Mt2</th>
      <th>Busy</th>
      <th>Sector</th>
      <th>Comunidad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @unidades.each do |unidad| %>
      <tr>
        <td><%= unidad.numero %></td>
        <td><%= unidad.mt2 %></td>
        <td><%= unidad.busy %></td>
        <td><%= unidad.sector_id %></td>
        <td><%= unidad.comunidad_id %></td>
        <td><%= link_to 'Show', unidad %></td>
        <td><%= link_to 'Edit', edit_unidad_path(unidad) %></td>
        <td><%= link_to 'Destroy', unidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unidad', new_unidad_path %>
