<h1>Espacios Comunes</h1>

<table>
  <thead>
    <tr>
      <th>Espacio comun</th>
      <th>Descripcion</th>
      <th>Reglamento</th>
      <th>Precio</th>
      <th>Foto</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @espacios_comunes.each do |espacio_comun| %>
      <tr>
        <td><%= espacio_comun.espacio_comun %></td>
        <td><%= espacio_comun.descripcion %></td>
        <td><%= espacio_comun.reglamento %></td>
        <td><%= espacio_comun.precio %></td>
        <td><%= image_tag espacio_comun.photo_path %></td>
        <td><%= link_to 'Ver', espacio_comun %></td>
        <td><%= link_to 'Editar', edit_espacio_comun_path(espacio_comun) %></td>
        <td><%= link_to 'Eliminar', espacio_comun, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Espacio comun', new_espacio_comun_path %>
