<%= form_for(@user_unidad) do |f| %>
  <% if @user_unidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_unidad.errors.count, "error") %> prohibited this user_unidad from being saved:</h2>

      <ul>
      <% @user_unidad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :unidad_id %><br>
    <%= f.collection_select :unidad_id, @users_unidades, :id, :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
