<h1>Listing users_unidades</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Unidad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users_unidades.each do |user_unidad| %>
      <tr>
        <td><%= user_unidad.user_id %></td>
        <td><%= user_unidad.unidad_id %></td>
        <td><%= link_to 'Show', user_unidad %></td>
        <td><%= link_to 'Edit', edit_user_unidad_path(user_unidad) %></td>
        <td><%= link_to 'Destroy', user_unidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User unidad', new_user_unidad_path %>
