<h1>Panel de administración</h1>

	<% @comunidad_nombre.each do |comunidad| %>
		<h2>Bienvenido a la Comunidad <%= comunidad.nombre %></h2>
	<%end%>
		<br>
		<br>

		<%= link_to "Sectores", sectores_path %>
		<br>
		<%= link_to "Unidades", unidades_path %>
		<br>
		<%= link_to "Directorio Residentes" %>
		<br>
		<%= link_to "Espacios Comunes" %>
		<br>
		<%= link_to "Calendario" %>
		<br>
		<%= link_to "Reglamento" %>
		<br>

