<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido1</th>
      <th>Apellido2</th>
      <th>Rut</th>
      <th>Fono</th>
      <th>Email</th>
      <th>Role</th>
     <!-- <th>Cliente</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current = current_user.cliente_id %>
    <% users = User.where(cliente_id: current) %>
    <% users.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.apellido1 %></td>
        <td><%= usuario.apellido2 %></td>
        <td><%= usuario.rut %></td>
        <td><%= usuario.fono %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.role_ids %></td>
       <!-- <td><%= usuario.cliente_id %></td> -->
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_user_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New user', new_user_path %>
