<%= form_for(@comunidad_user) do |f| %>
  <% if @comunidad_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comunidad_user.errors.count, "error") %> prohibited this comunidad_user from being saved:</h2>

      <ul>
      <% @comunidad_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comunidad_id %><br>
    <%= f.collection_select :comunidad_id, @comunidades, :id, :nombre %>
  </div>
  <h3>Escoja residente</h3>
  <div class="field">
    <% @user.each do |user| %>
        <%= check_box_tag 'user_ids[]', user.id %>
        <%= user.nombre %><br/>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
