<p id="notice"><%= notice %></p>

<p>
  <strong>Comunidad:</strong>
  <%= @comunidad_user.comunidad_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comunidad_user.user_id %>
</p>

<%= link_to 'Edit', edit_comunidad_user_path(@comunidad_user) %> |
<%= link_to 'Back', comunidades_users_path %>
