<%= form_for(@solicitud) do |f| %>
  <% if @solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>

      <ul>
      <% @solicitud.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :adjunto %><br>
    <%= f.text_field :adjunto %>
  </div>
  <div class="field">
    <%= f.hidden_field :comunidad_id, :value => "#{session[:comunidad_id]}" %>
  </div>
  <div class="field">
    <%= f.label :unidad_id %><br>
    <%= f.collection_select :unidad_id, @unidad, :id, :numero %>
  </div>
  <div class="field">
    <%= f.label :estado_id %><br>
    <%= f.collection_select :estado_id, @estado, :id, :estado %>
  </div>
  <div class="field">
    <%= f.label :role_id, "Responsable" %><br>
    <%= f.collection_select :role_id, @role, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
