  <% if session[:comunidad_id].to_s == @empleado.comunidad_id.to_s %>

    <p id="notice"><%= notice %></p>

    <p>
     <strong>Nombre:</strong>
     <%= @empleado.nombre %>
    </p>

    <p>
      <strong>Nombre2:</strong>
      <%= @empleado.nombre2 %>
    </p>

    <p>
      <strong>Apellido1:</strong>
      <%= @empleado.apellido1 %>
    </p>

    <p>
      <strong>Apellido2:</strong>
      <%= @empleado.apellido2 %>
    </p>

    <p>
      <strong>Rut:</strong>
      <%= @empleado.rut %>
    </p>

    <p>
      <strong>Cargo:</strong>
      <%= @empleado.cargo %>
    </p>

    <p>
      <strong>Fecha ingreso:</strong>
      <%= @empleado.fecha_ingreso %>
    </p>

    <p>
      <strong>Foto:</strong>
      <%= image_tag @empleado.photo_path %>
    </p>

    <p>
      <strong>Comunidad:</strong>
      <%= @empleado.comunidad_id %>
    </p>

    <%= link_to 'Editar', edit_empleado_path(@empleado) %> |
    <%= link_to 'Volver', empleados_path %>
  <%else%>
    <h1>Invalid Url</h1>
  <%end%>
