	<section>
		<% if session[:comunidad_id].to_s == @sector.comunidad_id.to_s %>
		<ul class="listaVer">
		
			<p id="notice"><%= notice %></p>
				<li>
					<p>
						<strong>Nombre:</strong>
						<%= @sector.nombre %>
					</p>
					<p>
						<strong>Comunidad:</strong>
						<%= @sector.comunidad.nombre %>
					</p>
				</li>

		</ul>
		<div class="nuevoBot">
			<%= link_to 'Editar', edit_sector_path(@sector) %>
		</div>
		<di class="nuevoBot">
			<%= link_to 'Volver', sectores_path %>
		</di>
		
		<%else%>
			<h1>Invalid Url</h1>
		<%end%>
	</section>