<header>
		<div class="fondito">
			<figure class="figHome">
				<a href="index.html">
					<img src=<%= image_path("logogrande.svg") %> title="beevir.svg">
				</a>
			</figure>
			<div class="h3">
				<h3>Una frase super cachilupi para decir que lo que</h3>
				<h3>hacemos y de forma bakan</h3>
			</div>
			<button class="entrar">
				Entrar
			</button>
			
			<div class="p">
				<p>¿Quieres saber como funciona?</p>
				<p>Ingresa tu correo y te contactaremos.</p>
			</div>
			<form action="">
				<input type="email" placeholder="Correo">
				<button type="submit">&raquo;</button>
			</form>
		</div>
		<div class="formulario">
			<div class="contiene">
				<%= simple_form_for(resource, url: session_path(resource_name)) do |f| %>
				    <%= f.input :email, required: false, autofocus: true, :placeholder => "correo", :label => false %>
				    <%= f.input :password, required: false, :placeholder => "contraseña", :label => false %>
				    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
				    <%= render "devise/shared/links" %>
				    
				  <div class="signIn">
				    <%= f.button :submit, "Sign in" %>
				  </div>

				<% end %>
			</div>
		</div>
	</header>
		<div class="formito"></div>
	<section>
		<article>
			<div class="contenedor">    
				<ul class="ch-grid">
					<li>
						<div class="mas">
							<div class="ch-item">
								<div class="masmas"><p>Admin</p></div>
								<div class="ch-info color1">
									<h3>De ahi se ve que poner aca</h3>
									<p class="click">ver más</p>
								</div>

							</div>
						</div>
						<div class="descrip">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ipsam, rerum quos illo architecto amet id est recusandae autem repellendus.</p>
						</div>
					</li>

					<li>
						<div class="mas">
							<div class="ch-item">
								<div class="masmas"><p>Admin</p></div>
								<div class="ch-info color1">
									<h3>De ahi se ve que poner aca</h3>
									<p class="click">ver más</p>
								</div>
							</div>
						</div>
						<div class="descrip">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ipsam, rerum quos illo architecto amet id est recusandae autem repellendus.</p>
						</div>
					</li>

					<li>
						<div class="mas">
							<div class="ch-item">
								<div class="masmas"><p>Admin</p></div>
								<div class="ch-info color1">
									<h3>De ahi se ve que poner aca</h3>
									<p class="click">ver más</p>
								</div>
							</div>
						</div>
						<div class="descrip">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ipsam, rerum quos illo architecto amet id est recusandae autem repellendus.</p>
						</div>
					</li>
				</ul>	
			</div>
		</article>
	</section>