<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @comunidad.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @comunidad.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @comunidad.ciudad %>
</p>

<p>
  <strong>Region:</strong>
  <%= @comunidad.region_id %>
</p>

<p>
  <strong>Tipo unidad:</strong>
  <%= @comunidad.tipo_unidad_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @comunidad.user_id %>
</p>

<%= link_to 'Edit', edit_comunidad_path(@comunidad) %> |
<%= link_to 'Back', comunidades_path %>
