<!DOCTYPE html>
<html>
<head>
  <title>Beevir</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<% if user_signed_in? %>
  Eres <%= current_user.nombre %> <%=  current_user.apellido1 %>  <%=  current_user.apellido2 %>  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
  <%end%>

</head>
<body>

<%= yield %>

</body>
</html>
