<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "estilos", "jquery-ui", "normalize", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

</head>
<body>
	<header>
		<div class="contHeader">
	      <div class="logo">
	        <figure>
	          <a href="<%= root_path %>"><img src=<%= image_path("logo.png") %> alt="Beevir"></a>
	        </figure>
	      </div>

	      <div class="avatar">
	          <figure>
	            <img src=<%= image_path("avatar.svg") %> alt="">
	          </figure>
	          <div class="nombre">
	            <span><%= current_user.nombre %> <%= current_user.apellido1 %></span>
	          </div>
	          <div class="tools">
          		<%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %>
          	  </div>
	      </div>

		</div>
	</header>
	<nav class="listas">
		<ul>
			<a href="<%= root_path %>"><li>home</li></a>
			<a href="<%= sectores_path %>"><li>Sectores</li></a>
			<a href="<%= unidades_path %>"><li>Unidades</li></a>
			<a href="<%= root_path %>"><li>Directorio Residentes</li></a>
			<a href="<%= empleados_path %>"><li>Empleados</li></a>
			<a href="<%= espacios_comunes_path %>"><li>Espacios Comunes</li></a>
			<a href="<%= root_path %>"><li>Calendario</li></a>
			<a href="<%= root_path %>"><li>Reglamento</li></a>
			<a href="<%= remuneraciones_path %>"><li>Remuneraciones</li></a>
		</ul>
	</nav>
	<%= yield %>

	<div id='footer'>
        <%= render :partial => 'layouts/footer' %>
        <%= yield :footer %>
	</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	
</body>
</html>